Repository googleapis/python-error-reporting, pull requests merged in 2020-11, with the labels that each got.

#35 chore: add blunderbuss
  .github/blunderbuss.yml
Labels: api: clouderrorreporting, cla: yes, priority: p2

#38 chore: update templates
  .github/snippet-bot.yml
  .kokoro/docs/common.cfg
  .kokoro/populate-secrets.sh
  .kokoro/release/common.cfg
  .kokoro/samples/python3.6/common.cfg
  .kokoro/samples/python3.7/common.cfg
  .kokoro/samples/python3.8/common.cfg
  .kokoro/test-samples.sh
  .kokoro/trampoline.sh
  CODE_OF_CONDUCT.md
  CONTRIBUTING.rst
  docs/conf.py
  google/cloud/errorreporting_v1beta1/__init__.py
  noxfile.py
  samples/snippets/api/noxfile.py
  samples/snippets/fluent_on_compute/noxfile.py
  scripts/decrypt-secrets.sh
  synth.metadata
Labels: api: clouderrorreporting, cla: yes, context: partial

#44 docs: removed stackdriver branding
  google/cloud/error_reporting/__init__.py
  google/cloud/error_reporting/_logging.py
  google/cloud/error_reporting/client.py
  google/cloud/error_reporting/util.py
  samples/snippets/api/README.rst
  samples/snippets/api/README.rst.in
  setup.py
  tests/system/test_system.py
Labels: api: clouderrorreporting, cla: yes

#43 fix: changed import path for logging client
  google/cloud/error_reporting/_logging.py
  tests/unit/test__logging.py
Labels: api: clouderrorreporting, cla: yes

#37 feat: add common resource path helpers; expose client transport as property
  docs/errorreporting_v1beta1/types.rst
  google/cloud/errorreporting_v1beta1/services/error_group_service/async_client.py
  google/cloud/errorreporting_v1beta1/services/error_group_service/client.py
  google/cloud/errorreporting_v1beta1/services/error_group_service/transports/grpc.py
  google/cloud/errorreporting_v1beta1/services/error_group_service/transports/grpc_asyncio.py
  google/cloud/errorreporting_v1beta1/services/error_stats_service/async_client.py
  google/cloud/errorreporting_v1beta1/services/error_stats_service/client.py
  google/cloud/errorreporting_v1beta1/services/error_stats_service/transports/grpc.py
  google/cloud/errorreporting_v1beta1/services/error_stats_service/transports/grpc_asyncio.py
  google/cloud/errorreporting_v1beta1/services/report_errors_service/async_client.py
  google/cloud/errorreporting_v1beta1/services/report_errors_service/client.py
  google/cloud/errorreporting_v1beta1/services/report_errors_service/transports/grpc.py
  google/cloud/errorreporting_v1beta1/services/report_errors_service/transports/grpc_asyncio.py
  scripts/fixup_errorreporting_v1beta1_keywords.py
  synth.metadata
  tests/unit/gapic/errorreporting_v1beta1/test_error_group_service.py
  tests/unit/gapic/errorreporting_v1beta1/test_error_stats_service.py
  tests/unit/gapic/errorreporting_v1beta1/test_report_errors_service.py
Labels: api: clouderrorreporting, cla: yes, context: partial
